<!doctype html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

</head>
<body style="
     background: #fafafa;
     height: 100vh;">
<div class="position-sticky sticky-top">
  <nav class="navbar  navbar-expand-lg navbar-light bg-white "
       style="
     padding: 0px 170px 0px 170px ;
     height: 65px ;
     margin-bottom: 0px">
    <div class="navbar-brand "
         id="logotype1"
         style="
             font:25px sans-serif;
             font-weight:bold;
             margin-top: 20px;">
      <div class="logo"
           style="color: #2a2a2a;
               display:inline-block;">Kach<div class="type" style="color: #4999f0;
                    display:inline-block;">Touch</div>
      </div>
    </div>

    <div class="collapse navbar-collapse justify-content-end"
         id="navbarNavDropdown">

      <ul class="navbar-nav"
          style="
        font-size: 14px;
        margin-top: 0px;
        padding-top: 0px;">
        <style>
          @media only screen and (min-width: 768px) {
            .dropdown:hover .dropdown-menu {
              display: block;
              margin-top: 0;
            }
          }
          .nav-item{
            margin-left: 30px;
            color: #ababab;
            font-weight:bold;
          }
          .nav-item a:hover{
            color: #187dec;
            transition: all 0.3s ease;
          }
          ul.navbar-nav a:hover{
            color: #187dec !important;
            transition: all 0.3s ease;
          }
        </style>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Options
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="font-size: 15px; margin-right: 20px; font-weight:bold;">
            <a class="dropdown-item" [routerLink]="['/profile']">Profile</a>
            <a class="dropdown-item" [routerLink]="['/edit-profile']">Edit profile</a>
            <a class="dropdown-item" [routerLink]="['/change-pass']" >Change password</a>
            <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-log-in" (click)="logOut()"></span> LogOut</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="card align-self-center justify-content-center" style="
     background: #fafafa;
     height: auto;
     border: 0px">

  <div class="row" style="padding: 0px; margin: auto;">
    <div class="col-sm-6">




  <div class="card align-self-center justify-content-center  "
       style="
     background: #fafafa;
     height: auto;
     border: 0px">
    <div class="card text-center mx-auto ">


      <form class="rounded-3"
            style="
          min-width: 500px;
          padding: 40px 30px;
          -webkit-border-radius: 7px;
          -moz-border-radius: 7px;
          border-radius: 7px;
          -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
          -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);">

        <div class="d-flex justify-content-center mb-2" >
          <div class="card-title"
               id="logotype"
               style="
                     font:25px sans-serif;
                     font-weight:bold;
                      ">
            <div class="logo"
                 style="color: #2a2a2a;
               display:inline-block;">CREATE OR REPLACE
              <div class="type"
                   style="color: #4999f0;
                    display:inline-block;">Empl
              </div>
            </div>
          </div>
        </div>


<h2>Работники</h2>
<ul class="heroes">
  <li *ngFor="let worker of workers"
      [class.selected]="worker === selectedWorker"
      (click)="onSelectWorker(worker)" style="margin-bottom:20px;">
    <span class="badge">{{worker.id}} {{worker.firstName}} {{worker.lastName}}
    {{worker.phone}}  {{worker.payment}}  {{worker.position}}</span>

  </li>
</ul>

<!--Добавить работника-->
<button class="btn btn-lg btn-primary btn-block btn-signin" (click)="addWorkerClick()">Добавить работника</button>
<br>
<div *ngIf="clickedWorker">

  <form name="form" (ngSubmit)="f.form.valid && pushWorkers()" #f="ngForm" novalidate>
    <div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>

    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !firstName.valid }">
      <label for="firstName"><!--First Name--></label>
      <input type="text"
             class="form-control"
             name="firstName"
             placeholder="First Name"
             [(ngModel)]="newWorker.firstName" #firstName="ngModel" required />
      <div *ngIf="f.submitted && !firstName.valid" class="help-block">The firstName is required</div>
    </div>


    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !lastName.valid }">
      <label for="lastName"><!--Last Name--></label>
      <input type="text"
             class="form-control"
             name="lastName"
             placeholder="Last Name"
             [(ngModel)]="newWorker.lastName" #lastName="ngModel" required />
      <div *ngIf="f.submitted && !lastName.valid" class="help-block">The lastName is required</div>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !age.valid }">
      <label for="age"><!--Age--></label>
      <input type="text"
             class="form-control"
             name="age"
             placeholder="Age"
             [(ngModel)]="newWorker.age" #age="ngModel" required />
      <div *ngIf="f.submitted && !age.valid" class="help-block">The age is required</div>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !phone.valid }">
      <label for="phone"><!--Phone--></label>
      <input type="text"
             class="form-control"
             name="phone"
             placeholder="Phone"
             [(ngModel)]="newWorker.phone" #phone="ngModel" required />
      <div *ngIf="f.submitted && !phone.valid" class="help-block">The phone is required</div>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !payment.valid }">
      <label for="payment"><!--First Name--></label>
      <input type="number"
             class="form-control"
             name="payment"
             placeholder="Payment"
             [(ngModel)]="newWorker.payment" #payment="ngModel" required />
      <div *ngIf="f.submitted && !payment.valid" class="help-block">The firstName is required</div>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !position.valid }">
      <label for="position"><!--Должность--></label>
      <input type="text"
             class="form-control"
             name="position"
             placeholder="должность"
             [(ngModel)]="newWorker.position" #position="ngModel" required />
      <div *ngIf="f.submitted && !position.valid" class="help-block">The firstName is required</div>
    </div>

    <button class="btn btn-lg btn-primary btn-block btn-signin" type="button" (click)="addToArrayWorkers()">Подтвердить</button>
    <!--<button [routerLink]="['/profile']" class="btn btn-lg btn-danger btn-block btn-cancel" type="button">Cancel</button>-->

  </form>

</div>

<!--Изменить работника-->
<div *ngIf="selectedWorker">

  <h2>Правка {{selectedWorker.firstName | uppercase}}</h2>

  <form name="form" (ngSubmit)="f.form.valid && pushWorkers()" #f="ngForm" novalidate>
    <div class="alert alert-danger"
         role="alert"
         *ngIf="errorMessage">{{errorMessage}}</div>
    <span id="reauth-email" class="reauth-email"></span>

    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !firstName.valid }">
      <label for="firstName">First Name</label>
      <input type="text"
             class="form-control"
             name="firstName"
             id="firstName"
             [(ngModel)]="selectedWorker.firstName" #firstName="ngModel" required />
      <div *ngIf="f.submitted && !firstName.valid" class="help-block">The firstName is required</div>
    </div>


    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !lastName.valid }">
      <label for="lastName">Last Name</label>
      <input type="text"
             class="form-control"
             name="lastName"
             id="lastName"
             [(ngModel)]="selectedWorker.lastName" #lastName="ngModel" required />
      <div *ngIf="f.submitted && !lastName.valid" class="help-block">The lastName is required</div>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !age.valid }">
      <label for="age">Age</label>
      <input type="text"
             class="form-control"
             name="age"
             id="age"
             [(ngModel)]="selectedWorker.age" #age="ngModel" required />
      <div *ngIf="f.submitted && !age.valid" class="help-block">The age is required</div>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !phone.valid }">
      <label for="phone">Phone</label>
      <input type="text"
             class="form-control"
             name="phone"
             id="phone"
             [(ngModel)]="selectedWorker.phone" #phone="ngModel" required />
      <div *ngIf="f.submitted && !phone.valid" class="help-block">The phone is required</div>
    </div>

    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Обновить работников</button>
    <br>
  </form>
  <button  class="btn btn-lg btn-danger btn-block btn-cancel" type="button" (click)="deleteWorker()">Удалить парня</button>
</div>

      </form>
    </div>
  </div>
</div>



<!--CСЕРВИССССССЫЫЫЫЫЫ/-->
<div class="col-sm-6">
  <div class="card align-self-center justify-content-center  "
       style="
     background: #fafafa;
     height: auto;
     border: 0px">

    <div class="card text-center mx-auto ">

      <form class="rounded-3"
            style="
          min-width: 500px;
          padding: 40px 30px;
          -webkit-border-radius: 7px;
          -moz-border-radius: 7px;
          border-radius: 7px;
          -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
          -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);">

        <div class="d-flex justify-content-center mb-2" >
          <div class="card-title"
               id="Kath"
               style="
                     font:25px sans-serif;
                     font-weight:bold;
                      ">
            <div class="logo"
                 style="color: #2a2a2a;
               display:inline-block;">Create Or Replace
              <div class="type"
                   style="color: #4999f0;
                    display:inline-block;">Services
              </div>
            </div>
          </div>
        </div>

<h2>Сервисы</h2>
<ul class="heroes">
  <li *ngFor="let srv of srvs"
      [class.selected]="srv === selectedSrv"
      (click)="onSelectSrv(srv)" style=" margin-bottom: 20px ;">
    <span class="badge" >{{srv.id}}  {{srv.cost}}  {{srv.description}}  {{srv.name}}</span>

  </li>
</ul>
<br>

<!--Изменить Сервис-->
<div *ngIf="selectedSrv">

  <h2>Правка {{selectedSrv.name | uppercase}}</h2>

  <form name="form" (ngSubmit)="f.form.valid && pushServices()" #f="ngForm" novalidate>
    <div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>

    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !Name.valid }">
      <label for="firstName">Name</label>
      <input type="text"
             class="form-control"
             name="firstName"
             [(ngModel)]="selectedSrv.name" #Name="ngModel" required />
      <div *ngIf="f.submitted && !Name.valid" class="help-block">The Service name is required</div>
    </div>


    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !cost.valid }">
      <label for="age">Cost</label>
      <input type="text"
             class="form-control"
             name="age"
             [(ngModel)]="selectedSrv.cost" #cost="ngModel" required />
      <div *ngIf="f.submitted && !cost.valid" class="help-block">The cost is required</div>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !description.valid }">
      <label for="phone">Description</label>
      <input type="text"
             class="form-control"
             name="phone"
             [(ngModel)]="selectedSrv.description" #description="ngModel" required />
      <div *ngIf="f.submitted && !description.valid" class="help-block">The description is required</div>
    </div>

    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Обновить Сервисы</button>
    <br>
  </form>
  <button  class="btn btn-lg btn-danger btn-block btn-cancel" type="button" (click)="deleteService()">Удалить Сервис</button>
  <br>
  <br>
</div>


<!--Добавить Сервис-->

<button class="btn btn-lg btn-primary btn-block btn-signin" (click)="addSrvClick()">Добавить Сервис</button>
<div *ngIf="clickedSrv==true">

  <form name="form" (ngSubmit)="f2.form.valid && addToArrayServices()" #f2="ngForm" novalidate>
    <div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>

    <div class="form-group" [ngClass]="{ 'has-error': f2.submitted && !name.valid }">
      <label for="name"><!--Name--></label>
      <input type="text"
             class="form-control"
             name="name"
             placeholder="Name"
             [(ngModel)]="newSrv.name" #name="ngModel" required />
      <div *ngIf="f2.submitted && !name.valid" class="help-block">The Service name is required</div>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error': f2.submitted && !cost.valid }">
      <label for="cost"><!--Cost--></label>
      <input type="text"
             class="form-control"
             name="cost"
             placeholder="Cost"
             [(ngModel)]="newSrv.cost" #cost="ngModel" required />
      <div *ngIf="f2.submitted && !cost.valid" class="help-block">The cost is required</div>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error': f2.submitted && !description.valid }">
      <label for="phone"><!--Description--></label>
      <input type="text"
             class="form-control"
             name="phone"
             placeholder="Description"
             [(ngModel)]="newSrv.description" #description="ngModel" required />
      <div *ngIf="f2.submitted && !description.valid" class="help-block">The description is required</div>
      <br>
    </div>

    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Подтвердить</button>
    <!--<button [routerLink]="['/profile']" class="btn btn-lg btn-danger btn-block btn-cancel" type="button">Cancel</button>-->

  </form>

</div>

      </form>
    </div>
  </div>
</div>

</div> <!--row-->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</div>
</body>
</html>
