
body{
  background: #fafafa;
  height: 100vh;
}
.header{
  top: 0;
  min-height: 2em;
  background: #ffffff;
  height: auto;
}
.welcomeform{
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  color: #665c76;
}
.welcomeform >p{
  display: flex;
  align-items: center;
  justify-content: center;
}
.welcomename{
  font-size: 100px ;
}
.welcometext{
  font-size: 80px ;
}

.section{

  display: flex;
  justify-content: center;
  align-items: center;
}
.enter-form{
  background: #ffffff;
  border:1px solid #c7c8ca;
  margin: 20px 0px 50px 0px;

  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}




/*/////////////////////////////////////////////0*/
.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.heroes li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;

}
.heroes li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.heroes li:hover {
  color: #607D8B;
  background-color: unset;
  left: .1em;
}
.heroes .text {
  position: relative;
  top: -3px;
}

.heroes .badge {
   display: inline-block;
   font-size: 20px;
  padding: 10px;
   color: #007bff;
   background-color:  unset;
   line-height: 1em;
   position: relative;
   left: -1px;
   top: -4px;
   height: 1.8em;
   margin-right: .8em;
   border-radius: 4px 0 0 4px;
 }

