<head>
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css">
</head>
<body>

<div class="header">
  <div class="container ">
    <div class="heading">
      <div class="logotype">
        <div class="logo">Logo<div class="type">Type</div></div>
      </div>
      <nav class="menu">
        <ul>
          <li><a [routerLink]="['/fields']" >Fields</a></li>
          <li><a [routerLink]="['/responses']" >Responses</a></li>
          <li><a [routerLink]="['/profile']"><strong>{{currentUser.firstName}} {{currentUser.lastName}}</strong> ▼</a>
            <ul class="submenu">
              <li><a [routerLink]="['/edit-profile']" >Edit profile</a></li>
              <li><a [routerLink]="['/change-pass']" >Change password</a></li>
              <li><a [routerLink]="['/login']">LogOut</a></li>
            </ul>
        </ul>
      </nav>
    </div>
  </div>
</div>

  <div class="center-block">
    <div class="enter-form">
      <div style="padding: 20px;     width: -webkit-fill-available;" *ngIf="visibleQuestions">

        <form name="form-update" (ngSubmit)="f.form.valid && addResponse()" #f="ngForm" novalidate>

          <div *ngFor="let quest of visibleQuestions;let i = index">
            <div *ngIf="quest.active==true">
              <label>{{quest.label}}</label>

              <div *ngIf="quest.type=='textLine'" class="form-group "  [ngClass]="{ 'has-error': (f.submitted && !input.valid)} ">
                <input type="text" [name]="quest.label" [(ngModel)]="answers[i].input" #input="ngModel"
                       [required]="quest.required">
              </div>

              <div *ngIf="quest.type=='Combobox'" class="form-group "  [ngClass]="{ 'has-error': (f.submitted && !input.valid)} ">
                <select name="fieldType"  [(ngModel)]="answers[i].input"  #input="ngModel" [required]="quest.required" >
                  <option *ngFor="let q of getOptions(quest,i)"
                          [value]="q" [attr.selected]="getOptions(quest,i)[0]">{{q}}
                  </option>
                </select>
              </div>

              <div *ngIf="quest.type=='RadioButton'"  class="form-group "  >
                <div *ngFor="let q of getOptions(quest,i)">
                  <input id="{{q}}" [value]='q' type="radio" [name]="quest.label" [(ngModel)]="answers[i].input">
                  {{q}}
                </div>
              </div>

            </div>
          </div>
          <div style="padding: 20px;     width: -webkit-fill-available;" *ngIf="visibleQuestions.length>0">
          <div *ngIf="f.submitted && !f.valid" class="help-block">
              <div *ngFor="let q of visibleQuestions; let j=index">
                <div *ngIf="visibleQuestions[j].required&&answers[j].input==''">
                  Заполните '{{visibleQuestions[j].label}}'
                </div>
              </div>
            </div>
            <button type="submit">Ok</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</body>



